# Introduction to Data Analysis with Python datatable

## Outline:

- Prerequisites
- Objective
- Task 0: Introduction to Python datatable
- Task 1: datatable vs pandas
- Task 2: Understand the dataset
- Task 3: datatable - Data Wrangling
- Task 4: Exploratory Data Analysis
- Task 5: Model Development
- Task 6: Model Evaluation
- Task 7: Q&A

## Task 2: Understand the dataset

### LendingClub 

In this tutorial, we will use a banking loan scenario with the goal of building a linear regression model to predict the "interest rate" from "loan amount" and "installment" using the loan default by using Kaggle's latest LendingClub dataset.

Read more about the Lending Club dataset. [Kaggle's Lending Club dataset](https://www.kaggle.com/wendykan/lending-club-loan-data).

### Import Python datable Package

In [ ]:
#!pip install datatable

In [ ]:
# Import Python datatable and other necessary libraries

import datatable as dt
import pandas as pd
import numpy as np
import time
from datatable import f,mean, sd
# dt.init_styles      Available in datatable version 0.10.0
print(dt.__version__)

### Read/Import data

In [ ]:
# Import loan csv file and create frame with Python datatable

# Read loan.csv file
%time dt_loan= dt.fread("https://s3.amazonaws.com/data.h2o.ai/H2O-3-Tutorials/loan.csv", fill=True)

# Read browseNotes
dt_loan_dict= dt.fread("https://s3.amazonaws.com/data.h2o.ai/H2O-3-Tutorials/browseNotes.csv", fill=True)

In [ ]:
# Import loan csv file to create frame with Pandas

%time pd_loan= pd.read_csv("https://s3.amazonaws.com/data.h2o.ai/H2O-3-Tutorials/loan.csv")

### Let's look at the loan dataframe

A few of the basic properties of the dataframe

In [ ]:
# Size of the frame(shape)  - number of rows by columns using print(dt_loan.shape)

In [ ]:
# Column names(names) - Top get the first 10 column names using print(dt_loan.names[:10])

In [ ]:
# Column Types(top 5)(stypes) using print(dt_loan.stypes[:5])

### Viewing the first 10 rows and last 5 rows of the loans dataframe

Using the name of the newly created dataframe  we can also view the first 10 rows and the last 5 rows.

In [ ]:
dt_loan

### Viewing the first 10 feature(column) definitions

In [ ]:
# No need for head(), just enter the name of the frame_dict

dt_loan_dict

## Task 3: Data Wrangling 

**Data manipulation with Python datatable**

### Python datatable- delete function

We will start by using the delete function ```del DT[i,j]``` to delete the columns *'id'*, *'member_id'*, *'url'*, and *'desc'*.

In [ ]:
# Delete the following columns 'id','member_id','url', 'desc'

In [ ]:
# View newly trimmed dataframe

In [ ]:
### Pandas index as a new dataframe

In [ ]:
pd_id = pd.DataFrame(pd_loan.index, columns=['id'])

# Alternative in Python datatable
# dt['id'] = range(dt_loan.nrows)

In [ ]:
# Convert Pandas dataframe to Python datatable dataframe

dt_id = dt.Frame(pd_id)

In [ ]:
# View the new dt_id dataframe

### Python datatable cbind()

In [ ]:
# Use cbind() to bind the dt_loan dataframe to new dt_id frame, then set dt_loan = dt_id

In [ ]:
# View the new dt_loan dataframe

## Task 4 - Exploratory Analysis

In [ ]:
# Timing how long it takes to calculate the mean using Python datatable using %time dt_loan.mean()

**Note** that the mean loan amount for this dataset is $1,5046.9

In [ ]:
# Finding the mean using Pandas - DO NOT RUN

# %time pd_loan.mean()

JupyterLab freezes everytime this command is ran so the commands were commented out.

In [ ]:
# Printing the mean using dt_loan.max()

**Note** the maximum amount loaned was $40,000 which is consistent with the Lending Club site for personal loans.

In [ ]:
# Printing the mean using dt_loan.min()

**Note** minimum amount loaned was $500 which is consistent with the Lending Club site for personal loans.

In [ ]:
# Printing the mean using dt_loan.mode()

**Note** that the mode for the amount loaned was $10,000 which is consistent with the Lending Club site for personal loans.

In [ ]:
# Printing the mean using dt_loan.sd()

**Note:** that the sd or stardard deviation for the amount loaned is $9,190.25.

### Sort the frame

In [ ]:
# Timing how long it takes to sort the dataframe by a column with Python datatable 
# using %time sorted_loans = dt_loan.sort("loan_amnt")

In [ ]:
# View the sorted loans dataframe with sorted_loans

In [ ]:
# Time how long it takes to sort the dataframe by a column with Pandas

%time pd_loan.sort_values(by="loan_amnt")

### GroupBy Operation

In [ ]:
# GroupBy with Python datatable

start = time.time()
for i in range(100):
    dt_loan[:, dt.sum(f.loan_amnt), dt.by(f.grade)]
end = time.time()
print(end - start)

In [ ]:
# View the grouped dataframe
# use dt_loan[:, dt.sum(f.loan_amnt), dt.by(f.grade)]

### GroupBy with Pandas

In [ ]:
# GroupBy with Pandas

start = time.time()
for i in range(100):
    pd_loan.groupby("grade")["loan_amnt"].sum()
end = time.time()
print(end - start)

### Filtering rows

In [ ]:
# Filter with Python datatable

start = time.time()
for i in range(100):
    dt_loan[f.loan_amnt>dt.mean(f.loan_amnt), ("id","loan_amnt")]
end = time.time()
print(end - start)

Filter loan by loan amounts that are greater than the mean value of a loan **$1,5046.9**

In [ ]:
# View the new filtered dataframe using dt_loan[f.loan_amnt>dt.mean(f.loan_amnt), ("id","loan_amnt")]

In [ ]:
# Filter with Pandas

start = time.time()
for i in range(100):
    pd_loan["loan_amnt"][pd_loan["loan_amnt"] > pd_loan["loan_amnt"].mean()]
end = time.time()
print(end - start)

## Task 5: Model Development

In [ ]:
# Model Delopment sklearn

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(dt_loan[:,["loan_amnt", "installment"]], dt_loan[:,"int_rate"])
model.coef_

## Task 6: Model Explanation

In [ ]:
### Save the Python dataframe to csv using %time dt_loan.to_csv("dt_loan.csv")

In [ ]:
### Save the Pandas dataframe to csv using %time pd_loan.to_csv("pd_loan.csv")

## Next version of the tutorial 

- Create/Update new columns
- Joins 
- Column selection
- Functions for multiple columns
- Loading from .jay files (Driverless AI)
- Model development using H2O's Driverless AI

## Checkout other H2O.ai Tutorials

https://h2oai.github.io/tutorials/